---
layout: default
title: CV
home: passive
cv: active
projects: passive
contact: passive
description: Current CV for Elouan Tardivel.
---
<div class="cv">
	<!-- FIXME -->
	<a href="/files/CV_Data_Science.pdf" class="btn btn-default pull-right" title="Download CV as PDF">Download CV</a>
				<div itemscope itemtype="http://data-vocabulary.org/Person">
				<span itemprop="name"><h1>Elouan Tardivel</h1></span>
				</div>
				<p>
				{% capture include-intro %}{% include intro.md %}{% endcapture %}
				{{ include-intro | markdownify }}
				</p>
				{% capture include-CV %}{% include CV.md %}{% endcapture %}
				{{ include-CV | markdownify }}

</div>
