---
layout: default
---
    {% include title-group.html %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">


                    {{ content }}
                    {% if page.image_path %}
                        {% for image in site.static_files %}
                            {% if image.path contains 'img/opti' %}
                            <!-- <span class="img" style="background-image: url( 'http://127.0.0.1:4000{{ image.path }}');">
                            </span> -->
                                <img class="img-post" src="{{ http://127.0.0.1:4000/ }}{{ image.path }}" alt="image" />
                                <!-- {{![{{ image.path }}]({{ site.url }}{{ image.path }})}} -->
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
